<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mumms Automation test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87ed94">  <td>16/12/15 15:12:37</td>   <td>0</td> <td title="&gt;&gt;TestEngineWeb.beforeSuite(org.testng.ITestContext, java.lang.String, java.lang.String)[pri:0, instance:com.Inficon.scripts.Login@7690781]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@509891820</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>16/12/15 15:12:37</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.Inficon.scripts.Login@7690781]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2009047961</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>16/12/15 15:13:18</td>   <td>40796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.Inficon.scripts.Login@7690781]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2009047961</td>   <td></td> </tr>
<tr bgcolor="976963">  <td>16/12/15 15:13:18</td>   <td>40977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.inficonDemoApp()[pri:0, instance:com.Inficon.scripts.Login@7690781]">inficonDemoApp</td> 
  <td>TestNG@2009047961</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>16/12/15 15:14:19</td>   <td>101862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterMethod()[pri:0, instance:com.Inficon.scripts.Login@7690781]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@2009047961</td>   <td></td> </tr>
<tr bgcolor="87ed94">  <td>16/12/15 15:14:19</td>   <td>101871</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterTest(java.lang.String)[pri:0, instance:com.Inficon.scripts.Login@7690781]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2009047961</td>   <td></td> </tr>
</table>
